*{
    margin: 0%;
    padding: 1%;
    box-sizing: border-box;
}
body {
    font-family: popping,sans-serif;
    
    
   
}

#page{
    padding: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0% 10%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background-color:#77B5FE;
    box-shadow: 2px 2px 20px black  ;
}
#all{
    padding: 10% 0% 0% 0%;
    background-color: #99b1cd;
     
}
a:hover{
    text-decoration: none;
    color:rgb(61 61 122);
}

h3{
    text-decoration: underline;
    text-align: center;
     padding-bottom: 10px;
     color: #d36e70;
     
}
p{
    text-align: justify;
    
}
.presentation{
    padding: 0% 10%;
    display: flex;
    background-color:#77B5FE;
    }
.presentation li{
    margin: 50px 10px;
    list-style: none;
}
span{
    color:blue;
}
.groupe h2{
    color:whhite;
}

@font-face{
    font-family: laety; src: url("../picture.ttf");
}
.activités{
    color: blue;
    font-family: laety;
}

.activités li {
    margin-left: 20px;
}


