*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: popping,sans-serif;
   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0% 10%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background-color:#77B5FE;
    box-shadow: 2px 2px 20px black  ;
}
#all{
    padding: 10% 0% 0% 0%;
}
a:hover{
    text-decoration: none;
color:black;
}
h3{
    text-decoration: underline;
    text-align: center;
     padding-bottom: 10px;
}
p{
    text-align: justify;
}
.presentation{
    padding: 0% 10%;
    display: flex;
    }
.presentation li{
    margin: 50px 10px;
    list-style: none;
}
span{
    color:blue;
}
.groupe h2{
    color:whhite;
}